*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
table{
    width: fit-content;
    border-collapse: collapse;
}
table tbody input{
    width: 77px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: green;
    color: white;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(0, 139, 0);
}
table tbody input:hover,
table tbody input:active{
    background-color: rgb(0, 112, 0);
}

#display{
    width: 100%;
    border: 10px solid green;
    height: 70px;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    text-align: right;
    font-weight: bolder;
    padding: 0 10px;
}